@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.fade-in{
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-out{
  display: none;
}
.exp-card:hover .exp-overlay{
  display: flex;
  height: 100%;
  animation: fade-in-card 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* .exp-card:hover .exp-overlay {
  opacity: 0.9;
} */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-card {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.show-overlay {
  height: 0%;
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
}
.main-container:hover .show-overlay {
  height: 100%;
}
.main-container:hover .show-overlay a{
  display: block;
}